.contacts{
    &__container{
        .container;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;

        @media @bw960 {
            flex-direction: column;
        }

    }
    &__items{
        display: flex;
        flex-direction: column;
        gap: 67px;
        @media @bw1660 {
            gap: 52px;
            
        }
        @media @bw960 {
            order: 2;
            flex-direction: row;
            gap: 60px;
            justify-content: center;
            &:nth-child(2){
                max-width: 185px;
            }
            &:last-child{
                max-width: 195px;
            }
        }
        @media @bw700 {
            flex-direction: column;
            gap: 41px;
            
        }
        &:first-child{
            margin-top: 15px;
            @media @bw1660{
                margin-top: 30px;
            }
            @media @bw960 {
                margin-top: 100px;
            }
            @media @bw700 {
                margin-top: 59px;
            }
        }
        
    }
    &__map{
        width: 100%;
        max-width: 752px;
        min-height: 493px;
        @media @bw1020 {
            width: 100%;
            margin: 0 auto;
            min-height: 463px;
            order: 1;
        }
        @media @bw600 {
            min-height: 176px;
        }
    }

}