.do-it{
    &__first,
    &__second{
        font-size: 128px;
        font-weight: 700;
        line-height: 120%;
        white-space: nowrap;
        text-align: center;
    }

    &__first{
        margin-left: -44px;
        margin-right: -189px;
        width: 100%;
    }
    &__second{
        width: 100%;
        margin-left: 344px;
    }
}