.event {
    padding: 40px 0 150px;
    @media @bw1020 {
      padding-bottom: 41px 0 100px;
    }
    @media @bw700 {
      padding: 80px 0 100px;
    }

    &__container{
        .container;
    }

    &__header{
      .container;
    }
    &__about{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 80px;
      @media @bw1020 {
        margin-bottom: 76px;
      }
      @media @bw768{
        flex-wrap: wrap;
      }
      @media @bw700 {
        display: grid;
        grid-template-areas: 
        "pictures pictures"
        "info info1";
        gap: 40px 20px;
        margin-bottom: 60px;
      }
    }

    &__info{
      flex-shrink: 0;
      box-sizing: border-box;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      padding: 13px 0;
      text-transform: uppercase;
      font-family: @font3;
      font-weight: 300;

      &::before,
      &::after{
        content: "";
        position: absolute;
        display: block;
        background: linear-gradient(270deg, #1C1B1B 0%, rgba(255, 255, 255, 0.00) 82.86%);
        width: 140px;
        max-width: 100%;
        height: 1px;

      }
      &::before{
        top: 0;
        @media @bw700 {
          grid-area: info;
        }
      }
      &::after{
        bottom: 0;
        @media @bw700 {
          grid-area: info1;
        }
      }

      &:last-child{
        align-items: flex-start;
        text-align: left;
        &::before,
        &::after{
          content: "";
          background: linear-gradient(90deg, #1C1B1B 0%, rgba(255, 255, 255, 0.00) 82.86%);

        }
      }
      
    }

    &__time{
      font-weight: 300;
      font-size: 30px;
      font-style: normal;
      line-height: 36px;
      &[datetime]{
        &::after{
          content: "";
          margin-left: 10px;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
        }
      }
      @media @bw1020 {
        font-size: 18px;
      }
    }

    &__info-text{
      font-size: 16px;
      line-height: 19px;
      font-weight: 700;
      @media @bw1020 {
        font-size: 12px;
      }



    }
    &__picture{
      display: block;
      width: 497px;
      margin: 0 60px;
      margin-bottom: 40px;
      @media @bw1660 {
        width: 426px;
        margin: 0 50px;
      }
      @media @bw1020 {
        width: 245px;
      }
      @media @bw700 {
        grid-area: pictures;
      }


    }

    &__ul{
      padding-left: 20px;
      font-size: 14px;
      font-weight: 400;
      @media @bw700 {
        padding-left: 15px;
      }
    }
    &__ol{
      padding-left: 20px;
    }
    &__content{
      max-width: 829px;
      margin-bottom: 80px;
      font-family: @font1;
      @media @bw1660 {
        margin-bottom: 50px;
        max-width: 831px;
      }
    }
  }
  
  .reserve {
    display: grid;
    gap: 67px 149px;
    grid-template-columns: 405px;
    grid-template-areas: 
      "checks scheme"
      "order legend"; 
    width: 100%;
    @media @bw1660 {
      gap: 67px 79px;
      grid-template-columns: 399px;
    }
    @media @bw1020 {
      gap: 62px 128px;
      grid-template-areas: 
      "scheme scheme"
      "checks legend"
      "checks order"; 
      grid-template-columns: 191.15px;
    }
    @media @bw700 {
      gap: 60px 0px;
      grid-template-areas: 
      "scheme"
      "legend"
      "checks"
      "order";
      grid-template-columns: 100%;
    }

  }
  
  .reserve__checks {
    grid-area: checks;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .reserve__order {
    grid-area: order;
    
    

  }
  .reserve__scheme {
    grid-area: scheme;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 780px;
    @media @bw1020 {
      margin: 0 auto;
      width: 628px;
    }
    @media @bw700 {
      width: 280px;
    }
  }
  .reserve__legend {
    grid-area: legend;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    @media @bw700 {
      text-align: left;
      align-items: flex-start;
    }
  }