.link{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    height: 0px;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s;
    color: @black;
    &:hover{
        @media (hover:hover){
            color: @red;
        }
    }
    &:active{
        color: @red;
    }

    &__vert{
        flex-direction: column;
    }
    &__name,
    &__icon{
        cursor: pointer;
        
    }
    &__name{
        @media @bw500 {
            font-size: 14px;
        }
    }
    &__icon{
        width: 91px;
        height: 60px;
        @media @bw1020 {
            width: 67px;
            height: 40px;
        }
    }
}